@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

/* for desktop mode */
* {
    transition: 1s;
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 15px;
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 0;
    font-family: Montserrat;
}

#image_product {
    width: 100%;
    height: 280px;
    margin: 0;
    padding: 0;
    background-image: url("../images/image-product-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cont1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    color: hsl(228, 12%, 48%);
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cont1>h1 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 12px;
}

.cont1>h2 {
    font-family: Fraunces;
    color: hsl(212, 21%, 14%);
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

.cont1>p {
    line-height: 1.5rem;
    font-weight: 590;
}

.contd1 {
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
    font-size: 32px;
    margin-top: 0;
}

.contd1>sup {
    font-family: Montserrat;
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.contd2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(158, 36%, 37%);
    border-radius: 5px;
    padding: 15px;
}

.contd2>img {
    margin-right: 12px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width:280px) {
    #image_product {
        width: 100%;
        height: 220px;
    }
    
    .container {
        max-width: 100%;
    }

    .cont1 {
        font-size: 12px;
    }
    
    .cont1>h1 {
        font-size: 10px;
        letter-spacing: 0.3rem;
    }

    .cont1>h2 {
        font-size: 20px;
    }

    .cont1>p {
        line-height: 1.56rem;
    }

    .contd1 {
        font-size: 20px;
    }

    .contd1>sup {
        font-size: 12px;
    }
}

@media only screen and (min-width:540px) {
    #image_product {
        width: 100%;
        height: 280px;
    }

    .container {
        max-width: 70%;
    }

    .cont1>h2 {
        font-size: 32px;
    }

    .cont1 {
        font-size: 15px;
    }
    
    .cont1>h1 {
        font-size: 15px;
    }

    .cont1>p {
        line-height: 1.56rem;
    }

    .contd1 {
        font-size: 32px;
    }

    .contd1>sup {
        font-size: 15px;
    }
}

@media only screen and (min-width:768px) {
    .container {
        max-width: 50%;
    }

    .cont1 {
        font-size: 16px;
    }
    
    .cont1>h1 {
        font-size: 15px;
    }

    .cont1>h2 {
        font-size: 35px;
    }

    .cont1>p {
        line-height: 1.56rem;
    }

    .contd1 {
        font-size: 35px;
    }

    .contd1>sup {
        font-size: 16px;
    }
}

@media only screen and (min-width:912px) {
    .container {
        max-width: 100%;
        flex-direction: row;
    }

    #image_product {
        width: 35%;
        height: 500px;
        background-image: url("../images/image-product-desktop.jpg");
        border-top-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
    }

    .cont1 {
        max-width: 35%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 16px;
    }

    .cont1>h2 {
        font-size: 40px;
        margin-top: 15px;
        margin-bottom: 10px;
        line-height: 2.3rem;
    }

    .cont1>p {
        line-height: 1.6rem;
    }

    .contd1 {
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 45px;
    }

    .contd1>sup {
        font-size: 16px;
    }
}

@media only screen and (min-width:1280px) {
    .container {
        flex-direction: row;
    }

    #image_product {
        width: 40%;
        height: 500px;
        border-top-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
        background-image: url("../images/image-product-desktop.jpg");
    }

    .cont1 {
        max-width: 38%;
        padding-top: 30px;
        padding-left: 35px;
        padding-right: 35px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 13px;
    }

    .cont1>h1 {
        letter-spacing: 0.5rem;
        font-size: 12px;
    }
    
    .cont1>h2 {
        font-size: 33px;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 2.3rem;
    }
    
    .cont1>p {
        line-height: 1.5rem;
    }

    .contd1 {
        font-size: 33px;
    }

    .contd1>sup {
        font-size: 12px;
    }
}