@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

/* for desktop mode */
* {
    transition: 1s;
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 15px;
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-family: Montserrat;
}

#image_product {
    width: 100%;
    height: 248px;
    margin: 0;
    padding: 0;
    background-image: url("../images/image-product-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cont1 {
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    color: hsl(228, 12%, 48%);
    font-size: 15px;
}

.cont1>h1 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 12px;
}

.cont1>h2 {
    font-family: Fraunces;
    color: hsl(212, 21%, 14%);
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

.cont1>p {
    line-height: 1.5rem;
}

.contd1 {
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
    font-size: 32px;
}

.contd1>sup {
    font-family: Montserrat;
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.contd2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(158, 36%, 37%);
    border-radius: 5px;
    padding: 15px;
}

.contd2>img {
    margin-right: 12px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width:1280px) {
    .container {
        flex-direction: row;
    }

    #image_product {
        width: 40%;
        height: 500px;
        border-top-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
        background-image: url("../images/image-product-desktop.jpg");
    }

    .cont1 {
        max-width: 40%;
    }
}